body,html{ margin: 0;padding: 0;font-family: Arial, Helvetica, sans-serif;}
html{ font-size: 62.5%; }
body {font-size: 1.6rem;}

.main-header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #000;
  text-align: center;
  padding-top: 1rem;
}

.task-list{
  background: #FFF;
  box-shadow: inset 0px 10px 18px -8px rgba(0,0,0,0.15);
  position: relative;
}

.task-list::after{
  content: '';
  display: block;
  width: 100%;
  height: 2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  box-shadow: 0px 10px 18px -8px rgba(0,0,0,0.75);
}

.task-item__complete{
  color: #00b200F0;
}

.task-item.task--completed{
  text-decoration: line-through;
  color: #DFDFDF;
}

.task-item{
  font-weight: bold;
  padding: 0 0.5rem 0.5rem;
  cursor: pointer;
}

.task-item__content, .task-item__controls{
  display: inline-block;
  text-align: left;
}

.task-item__content{
  width: 40%;
}

.task-item__edit{
  color:#222;
}
.task-item__edit::before{
  content: '[';
  display: inline;  
}
.task-item__edit::after{
  content: ']';
  display: inline;  
}

.task-item__delete{
  color: #F00;
}

#todo-list{
  border-radius: 0.5rem;
}

#edit-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  padding: 2rem;
  background-color: rgba(0,0,0,0.85);
}
#edit-overlay>h2{
  margin-top: 0;
  color: #FFF;
}

form, .list-wrapper{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.task-list{
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  list-style-position: inside;
}

.task-list li{
  margin-left: 1rem;
}
.task.done{
  text-decoration: line-through;
}

input[type=text]{
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

#results{
  text-align: center;
  padding: 2rem 0 2.5rem 1rem;
  -webkit-box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.5);
}

@media screen and (min-width: 768px){
  #results>h2{
    font-size: 1.5rem;
    max-width: 65rem;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    position: relative;
    border-bottom: 1px solid #CCC;
  }
  #results>h2::after{
    content: "\1F827";
    display: block;
    position: absolute;
    bottom: -26px;
    left: 50%;
    font-size: 2.5rem;
    color: #000;
  }

  #todo-list{
    max-width: 76.8rem;
    margin: 0 auto; 
  }
  .task-item__content{
    max-width: 65rem;
  }
}